

.ico-arrow-top { background-image: url(images/sprite.png); background-position: -80px 0; width: 14px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow { background-image: url(images/sprite.png); background-position: -80px -48px; width: 5px; height: 11px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-dots { background-image: url(images/sprite.png); background-position: -98px 0; width: 2px; height: 70px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook { background-image: url(images/sprite.png); background-position: -80px -30px; width: 8px; height: 14px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-spinner { background-image: url(images/sprite.png); background-position: 0 0; width: 76px; height: 76px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter { background-image: url(images/sprite.png); background-position: 0 -80px; width: 16px; height: 12px; display: inline-block; vertical-align: middle; font-size: 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-arrow-top { background-image: url(images/sprite.@2x.png); background-position: -78px 0; background-size: 96px 90px; width: 14px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-arrow { background-image: url(images/sprite.@2x.png); background-position: -78px -44px; background-size: 96px 90px; width: 5px; height: 11px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-dots { background-image: url(images/sprite.@2x.png); background-position: -94px 0; background-size: 96px 90px; width: 2px; height: 70px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-facebook { background-image: url(images/sprite.@2x.png); background-position: -78px -28px; background-size: 96px 90px; width: 8px; height: 14px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-spinner { background-image: url(images/sprite.@2x.png); background-position: 0 0; background-size: 96px 90px; width: 76px; height: 76px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-twitter { background-image: url(images/sprite.@2x.png); background-position: 0 -78px; background-size: 96px 90px; width: 16px; height: 12px; display: inline-block; vertical-align: middle; font-size: 0; }
}

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main { display: block; }


html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }
img, iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { display: none; -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 925px; background: #0f0a09; font-family: 'Marmelad','Arial', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.13; color: #000; }

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; }

a[href^="tel"] { text-decoration: none; }

h1 { font-size: 50px; }
h2 { font-size: 39px; line-height: 1.41; }
h3 { font-size: 28px; }
h4 { font-size: 18px; letter-spacing: 0.1em; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.565em; }

p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.13em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after { content: ''; line-height: 0; display: table; clear: both; }


/*  Notext  */

.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }


/*  Hidden  */

[hidden],
.hidden { display: none; }


/*  Alignleft  */

.alignleft { float: left; }


/*  Alignright  */

.alignright { float: right; }

/*  No scroll  */

.no-scroll { overflow-y: scroll; }
.no-scroll body { position: fixed; left: 0; top: 0; width: 100%; overflow: hidden; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

@-webkit-keyframes bounce {
	0% { margin-top: 0px; }
	100% { margin-top: 5px; }
}

@keyframes bounce {
	0% { margin-top: 0px; }
	100% { margin-top: 5px; }
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes spin-reverse {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@keyframes spin-reverse {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@-webkit-keyframes expand {
	0% { -webkit-transform: scale(0); transform: scale(0); opacity: .6; }
	75% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
}

@keyframes expand {
	0% { -webkit-transform: scale(0); transform: scale(0); opacity: .6; }
	75% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
}

@-webkit-keyframes expand-alt {
	0% { -webkit-transform: scale(0); transform: scale(0); opacity: .3; }
	75% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
}

@keyframes expand-alt {
	0% { -webkit-transform: scale(0); transform: scale(0); opacity: .3; }
	75% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; }
}

@-webkit-keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes blink-reverse {
	0% { opacity: 1; }
	25% { opacity: 0; }
	75% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes blink-reverse {
	0% { opacity: 1; }
	25% { opacity: 0; }
	75% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes blink-double {
	0% { opacity: 0; }
	25% { opacity: 0; }
	35% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 0; }
	80% { opacity: 1; }
	87% { opacity: 0; }
	93% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes blink-double {
	0% { opacity: 0; }
	25% { opacity: 0; }
	35% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 0; }
	80% { opacity: 1; }
	87% { opacity: 0; }
	93% { opacity: 1; }
	100% { opacity: 0; }
}

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container {}

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 9px 0 7px; background: rgba(0,0,0,.7); text-align: center; color: #fff; font-size: 12px; line-height: 1; letter-spacing: 0.02em; }

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: fixed; top: 0; left: 0; z-index: 3; width: 100%; }

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main { position: relative; z-index: 2; padding-top: 29px; }

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { position: relative; max-width: 915px; margin: auto; }

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar {}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { position: relative; bottom: auto; z-index: 2; min-height: 100%; overflow: hidden; background: url(images/bg.jpg) repeat-y center 0; background-size: 2000px auto; }
.wrapper-dark { background: #141414; }
.wrapper-dark:before { position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: url(images/bg-light.png) no-repeat 0 0; background-size: 2000px 1161px; content: ''; }

.wrapper-dark .btn-menu-holder { background-image: url(images/triangle-dark.png); }

.wrapper.placed { position: absolute; bottom: 100%; left: 0; z-index: 2; width: 100%; opacity: 0; visibility: hidden; }

.wrapper.placed .header { display: none; }

.wrapper.active { visibility: visible; -webkit-animation: blink .2s linear; animation: blink .2s linear; }

@media ( min-width: 2000px ) {
	.wrapper:before,
	.wrapper { background-size: 100% auto; }
}

/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Arrow
\* ------------------------------------------------------------ */

.arrow { display: inline-block; position: relative; width: 64px; height: 64px; }
.arrow:before { position: absolute; top: 0; bottom: 0; left: 0; right: 0; border: 1px solid #fff; border-radius: 50%; background: rgba(0,0,0,.33); opacity: .59; content: ''; }
.arrow:after { position: absolute; top: 16px; left: 0; right: 0; width: 18px; height: 28px; border: 1px solid #fff; border-radius: 7px; margin: 0 auto; content: ''; }
.arrow i { position: absolute; left: 0; right: 0; margin: auto; }
.arrow .ico-spinner { right: auto; top: -6px; left: -6px; opacity: .6; -webkit-animation: spin .8s linear infinite; animation: spin .8s linear infinite; }
.arrow .ico-dots { top: 100%; margin-top: -9px; }
.arrow i.ico-arrow { top: 21px; -webkit-animation: bounce .4s linear infinite alternate; animation: bounce .4s linear infinite alternate; }

/* ------------------------------------------------------------ *\
	Arrow Left
\* ------------------------------------------------------------ */

.arrow-left:after { left: 0; right: 0; bottom: 0; top: 0; width: 28px; height: 18px; margin: auto; }

.arrow-left i.ico-arrow { top: 0; bottom: 0; margin: auto; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); -webkit-animation: none; animation: none; }
.arrow-left .ico-dots { left: auto; top: 0; bottom: 0; right: 100%; margin: auto 39px auto 0; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

/* ------------------------------------------------------------ *\
	Arrow Large
\* ------------------------------------------------------------ */

.arrow-large:after { display: none; }
.arrow-large .arrow-text { position: absolute; top: 100%; left: 50%; width: 134px; margin: 20px 0 0 -67px; font-size: 17px; letter-spacing: 0.02em; text-transform: uppercase;  color: #fff; }
.arrow-large .ico-arrow-top { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*  Button Menu  */
.btn-menu-holder { position: absolute; top: 0; left: 0; width: 186px; height: 168px; padding: 36px 0 0 36px; background: url(images/triangle.png) no-repeat 0 0; }

.btn-menu { position: fixed; left: 36px; top: 38px; z-index: 101; width: 23px; height: 18px; transition: left .8s; }
.btn-menu span { position: relative; display: block; width: 100%; height: 2px; background: #fff; transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s .4s; transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s .4s; }

.btn-menu span:nth-child(1) { top: 0; }
.btn-menu span:nth-child(2) { top: 5px; }
.btn-menu span:nth-child(3) { top: 10px; }

.btn-menu.animating { -webkit-animation: blink-reverse .8s linear; animation: blink-reverse .8s linear; }

.btn-menu.active { left: calc(100% - 59px); }
.btn-menu.active span { transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .7s; transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .7s; }
    
.btn-menu.active span:nth-child(3) { top: 5px; }
.btn-menu.active span:nth-child(1) { top: 9px; }

.btn-menu.active span:nth-child(2) { opacity: 0; }
.btn-menu.active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.btn-menu.active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/* ------------------------------------------------------------ *\
	Clock
\* ------------------------------------------------------------ */

.clock { position: relative; left: 50%; z-index: 9000; height: 490px; width: 915px; margin-top: -245px; }
.clock-outer { height: 3000px; }

.clock-bg { position: absolute; left: 50%; margin-left: -268px; }

.clock-razor { position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 2; }

.clock-razor-part { position: absolute; top: 50%; left: 50%; }
.clock-razor-part:nth-child(1) { z-index: 2; margin: -299px 0 0 -37px; -webkit-transform-origin: calc( 100% - 33px) calc( 100% - 33px); -ms-transform-origin: calc( 100% - 33px) calc( 100% - 33px); transform-origin: calc( 100% - 33px) calc( 100% - 33px); }
.clock-razor-part:nth-child(2) { margin: -62px 0 0 -60px; -webkit-transform-origin: 63px 74px; -ms-transform-origin: 63px 74px; transform-origin: 63px 74px; }

.clock-caption { position: absolute; bottom: 128px; left: 50%; width: 360px; margin-left: -180px; color: #fff; text-align: center; }

.clock-caption-inner { position: absolute; top: 0; left: 0; right: 0; }
.clock-caption h3 { margin-bottom: 3px; text-transform: uppercase; letter-spacing: 0.02em; }
.clock-caption strong { text-transform: uppercase; letter-spacing: 0.05em; }

/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts { position: relative; width: 224px; height: 224px; display: inline-block; margin: 82px 0 100px; list-style: none outside none; }
.contact { position: absolute; left: 0; top: 0; width: 226px; height: 226px; border-radius: 50%; background: url(images/circle.png); background-size: 226px 226px; color: #fff; text-align: center; font-size: 16px; letter-spacing: 0.1em; line-height: 1.53; font-weight: 600; text-transform: uppercase; box-shadow: 16px 2px 76px rgba(0,0,0,.7); }
.contact span { position: absolute; top: 50%; left: 0; right: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.contacts-alt .contact { background-image: url(images/circle-white.png); color: #141414; box-shadow: -7px -4px 38px rgba(0,0,0,.3); }
.contacts-alt .contact a { font-weight: bold; }

/* ------------------------------------------------------------ *\
	Events
\* ------------------------------------------------------------ */

.events { max-width: 600px; margin: 0 auto; }
.event { position: relative; }

.event .event-image { position: relative; margin-bottom: 20px; }
.event .event-image img { width: 100%; height: auto; }

.event .event-meta { position: absolute; right: 23px; bottom: 23px; width: 180px; padding: 6px 14px; border: 4px solid #fff; border-radius: 5px; background: rgba(0,0,0,.24); color: #fff; font-size: 32px; line-height: 1; font-weight: bold; text-align: left; }

.event .event-title { font-size: 58px; line-height: 1.2; color: #fff; text-transform: uppercase; }

.event-separator { display: block; width: 2px; height: 104px; background: #fff; margin: 70px auto 80px; opacity: .5; -webkit-transform-origin: 50% calc(100% - 28px); -ms-transform-origin: 50% calc(100% - 28px); transform-origin: 50% calc(100% - 28px); }

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::-webkit-input-placeholder { color: inherit; opacity: 1; }

input::-moz-placeholder { color: inherit; opacity: 1; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.field {}
.textarea {}
.select {}
.radio {}
.checkbox {}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {}

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { display: inline-block; width: 354px; height: 284px; background: url(images/logo.png) no-repeat 0 0; }

.map { position: absolute; top: 0; left: 0; width: 100%; height: 1436px; }

.map .marker-label { top: -5px; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background: #b2ecf0; }

.map .marker-label:after,
.map .marker-label:before { position: absolute; left: 50%; top: 50%; border-radius: 50%; background: #b2ecf0; content: ''; }

.map .marker-label:before { width: 28px; height: 28px; margin: -14px 0 0 -14px; opacity: .18; -webkit-animation: expand 1.2s linear infinite; animation: expand 1.2s linear infinite; }
.map .marker-label:after { width: 56px; height: 56px; margin: -28px 0 0 -28px; opacity: .1; -webkit-animation: expand-alt 1.2s linear infinite; animation: expand-alt 1.2s linear infinite; }

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { position: fixed; top: 0; left: 0; right: 0; z-index: 100; height: 100%; padding: 75px 0; background: rgba(0,0,0,.85); text-align: center; overflow-y: auto; opacity: 0; visibility: hidden; transition: all .3s; }
.nav.visible { opacity: 1; visibility: visible; }

.nav ul { display: inline-block; color: #fff; }
.nav li { margin-bottom: 40px; }
.nav a { display: inline-block; border-bottom: 3px solid transparent; font-size: 47px; line-height: 74px; opacity: .4; text-transform: uppercase; letter-spacing: 0.1em; color: #fff; }
.nav a:hover { border-bottom-color: #fff; opacity: 1; }

.nav p a { opacity: .75; font-weight: bold; font-size: 23px; line-height: 1.2; letter-spacing: 0.06em; }

@media ( max-height: 900px ) {
	.nav ul { padding: 30px 0; }
	.nav li { margin-bottom: 20px; }
}

@media ( max-height: 680px ) {
	.nav ul { padding: 20px 0; }
	.nav li { margin-bottom: 10px; }
	.nav a { font-size: 36px; line-height: 50px; }
}

/* ------------------------------------------------------------ *\
	Overlay
\* ------------------------------------------------------------ */

.overlay:after { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 100; opacity: 0; background: #000; -webkit-animation: blink-double 1s linear; animation: blink-double 1s linear; -webkit-animation-delay: .2s; animation-delay: .2s; content: ''; }

/* ------------------------------------------------------------ *\
	Player
\* ------------------------------------------------------------ */

.player { position: fixed; top: 0; bottom: 0; left: 6px; z-index: 99; height: 100px; border-radius: 0 7px 7px 0; margin: auto; }

.player-btn label { display: block; position: relative; width: 50px; height: 80px; border-radius: 50px; background: #e6e3da; background: linear-gradient(#e6e3da, #fff); border: 2px solid rgba(0,0,0,0.1); box-shadow: inset 0 7px 0 #fdfdfd, 0 2px 3px rgba(170, 160, 140,.3); cursor: pointer; }

.player-btn label:before { content: ""; position: absolute; top: -10px; bottom: -10px; left: -5px; right: -5px; z-index: -1; background: #f2f1ed; border-radius: inherit; box-shadow: 0 1px 1px rgba(#aea391,0.2), 0 3px 3px rgba(170, 160, 140, 0.4), inset 0 1px 0 rgba(255,255,255,0.8), 0 0 5px rgba(170, 160, 140, 0.5); }

.player-btn label:after { content: ""; position:absolute; width: 30px; height: 60px; border-radius: 50%; z-index: -1; left: 18px; top: 10px; background: linear-gradient(160deg, rgba(170, 160, 140, 0.7), rgba(170, 160, 140, 0)); background: -webkit-linear-gradient(290deg, rgba(170, 160, 140, 0.75), rgba(170, 160, 140, 0)); -webkit-filter: blur(1px); }

.player-btn input { clip: rect(0 0 0 0); position: absolute; visibility: hidden; }

.player-btn input:checked ~ label { background: linear-gradient(#f7f6f4, #fff); box-shadow: inset 0 -5px 0 #dbd3c8, 0 6px 5px rgba(170, 160, 140, 0.9), 3px 16px 5px rgba(170,160,140, 0.1); border-bottom: none; }

.player-btn input:checked ~ label:after { display: none; }

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { position: relative; text-align: center; }

.section-title { max-width: 410px; padding: 10px 17px; border: 2px solid #fff; margin: 0 auto; letter-spacing: 0.14em; text-transform: uppercase; color: #fff; text-align: center; }
.section-title-alt { letter-spacing: 0; }

.section-shapes { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.section-shape { position: absolute; left: 50%; }
.section-shape-main { z-index: 10; }
.section-shape img { max-width: none; }

/* ------------------------------------------------------------ *\
	Section Carpet
\* ------------------------------------------------------------ */

.section-carpet { min-height: 2200px; margin-bottom: 260px; }

.section-carpet .section-inner { position: relative; z-index: 2; overflow: hidden; padding: 65px 0 40px; }

.section-carpet .section-shadow-end { position: absolute; left: 50%; top: 54px; bottom: 0px; width: 765px; max-height: 2268px; margin-left: -450px; background: url(images/carpet-shadow.png) no-repeat right top; background-size: auto 100%; }

.section-carpet .section-head,
.section-carpet .section-body { position: relative; z-index: 1; width: 502px; margin: 0 auto; }

.section-carpet .section-head { z-index: 2; min-height: 502px; }
.section-carpet .section-head:before { position: absolute; top: -5px; left: -11px; width: 540px; height: 540px; margin: 0 auto; background: url(images/carpet-head.png) no-repeat 0 0; background-size: 540px 540px; content: ''; }
.section-carpet .section-head .logo { position: absolute; top: 0; bottom: 0; left: 0; right: 0;	margin: auto; }

.section-carpet .section-body { position: absolute; top: 567px; left: 0; right: 0; padding-top: 455px; }
.section-carpet .section-body:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: url(images/carpet-body.jpg) repeat-y 0 0; background-size: 100% auto; content: ''; }
.section-carpet .section-body-inner { position: relative; z-index: 2; }

.section-carpet .section-overlay { position: absolute; bottom: -67px; left: 50%; z-index: 4; width: 603px; height: 242px; margin-left: -293px; background: url(images/carpet-roll.png) no-repeat 0 0; }

.section-carpet .section-caption { position: absolute; top: 590px; left: 0; right: 0; z-index: 6; text-align: center; color: #fff; font-size: 11px; line-height: 1.45; letter-spacing: 0.2em; text-transform: uppercase; }
.section-carpet .section-caption p { margin-bottom: 43px; }

.section-carpet .section-title { position: relative; overflow: hidden; padding: 0; border: 0 none; margin-bottom: 479px; }
.section-carpet .section-title span { position: absolute; top: 0; left: 0; opacity: 0; }

.section-carpet .article { display: inline-block; max-width: 290px; color: #fff; letter-spacing: 0.1em; text-transform: uppercase; margin-bottom: 150px; }
.section-carpet .article p { margin-bottom: 9px; opacity: .4; }
.section-carpet .article h4 { margin-bottom: 49px; }

/* ------------------------------------------------------------ *\
	Section Razor
\* ------------------------------------------------------------ */

.section-razor { padding: 75vh 0; min-height: 200vh; margin-bottom: 550px; text-align: center; }

.section-razor .section-content-outer { position: relative; }
.section-razor .section-content { display: table; height: 388px; width: 188px; margin: 0 auto; color: #fff; }
.section-razor .section-content-inner { display: table-cell; vertical-align: middle; padding: 20px 16px; }
.section-razor .section-content-inner .article { text-transform: uppercase; -webkit-transform: translateX(-10px); -ms-transform: translateX(-10px); transform: translateX(-10px); }

.section-razor .section-content-bg,
.section-razor .section-content-overlay { position: absolute; top: -78px; left: 50%; margin-left: -316px; }

.section-razor .section-content-bg img,
.section-razor .section-content-overlay img { max-width: none; }

.section-razor .section-content-overlay { overflow: hidden; }

.section-razor .section-trail { overflow: hidden; height: 551px; padding-right: 10px; }
.section-razor .section-trail-inner { overflow: hidden; }
.section-razor .section-trail img { max-width: none; }

/* ------------------------------------------------------------ *\
	Section Clock
\* ------------------------------------------------------------ */

.section-clock { margin-bottom: 420px; text-align: center; padding-top: 137px; }
.section-clock .section-title { position: absolute; left: 50%; top: -137px; width: 180px; margin-left: -90px; }

/* ------------------------------------------------------------ *\
	Section Switch
\* ------------------------------------------------------------ */

.section-switch { height: 870px; margin-bottom: 300px; }
.section-switch .section-content { position: relative; height: 870px; }

.section-switch .section-overlay { position: absolute; bottom: -80px; left: 50%; margin-left: -260px; }

.section-switch .section-content { position: relative; overflow: hidden; }
.section-switch .section-content-bg { position: absolute; top: 0; left: 5px; width: 100%; height: 100%; }
.section-switch .section-content-inner { position: absolute; top: 0; left: 0; right: 0; width: 220px; height: 870px; color: #fff; margin: auto; font-size: 17px; line-height: 1.33; letter-spacing: 0.1em; }
.section-switch .section-content-inner .article { position: absolute; top: 50%; left: 0; right: 0; margin: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.section-switch.switch-visible .switch,
.section-switch.active .switch { opacity: 1; }
.section-switch.active .article { opacity: 0; }
.section-switch.active .switch-trigger { display: block; }
.section-switch.switch-visible .section-content { height: 100px !important; transition: height .4s; }
.section-switch.switch-visible .switch-trigger { display: none; }

/* ------------------------------------------------------------ *\
	Section Slider
\* ------------------------------------------------------------ */

.section-slider { position: relative; overflow: hidden; margin-bottom: 300px; }
.section-slider .section-title { position: absolute; left: 50%; top: 32px; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.section-slider-alt { padding-top: 34px; }
.section-slider-alt .section-title { top: 0; }
.section-slider-alt .slider:before,
.section-slider-alt .slider:after { position: absolute; bottom: 0; top: 0; z-index: 4; width: 28vw; content: ''; }

.section-slider-alt .slider:before { left: 0; background: linear-gradient(to right,  rgba(20,20,20,1) 0%,rgba(20,20,20,1) 14%,rgba(20,20,20,0) 100%); }
.section-slider-alt .slider:after { right: 0; background: linear-gradient(to right,  rgba(20,20,20,0) 0%,rgba(20,20,20,1) 86%,rgba(20,20,20,1) 100%); }

.section-slider-alt .slider-caption .slider-caption-inner { width: 100px; height: 100px; -webkit-animation: spin-reverse 12s linear infinite; animation: spin-reverse 12s linear infinite; }
.section-slider-alt .slider-caption .arrow { -webkit-animation: spin 12s linear infinite; animation: spin 12s linear infinite; }

/* ------------------------------------------------------------ *\
	Section Riddle
\* ------------------------------------------------------------ */

.section-riddle { margin-bottom: 230px; }
.section-riddle .section-title { margin-bottom: 45px; }

/* ------------------------------------------------------------ *\
	Section Contact
\* ------------------------------------------------------------ */

.section-contacts { padding-top: 20px; margin-bottom: 130px; text-align: center; }
.section-contacts-alt { margin-bottom: 300px; }
.section-contacts .section-title { position: absolute; left: 50%; top: 0; margin-left: 43px; max-width: 210px; padding: 4px 13px; text-align: left; letter-spacing: 0.09em; }

.section-contacts .razor-part.first { -webkit-transform-origin: calc(100% - 22px) calc(100% - 65px); -ms-transform-origin: calc(100% - 22px) calc(100% - 65px); transform-origin: calc(100% - 22px) calc(100% - 65px); }
.section-contacts .razor-part.second { -webkit-transform-origin: calc(100% - 25px) calc(100% - 20px); -ms-transform-origin: calc(100% - 25px) calc(100% - 20px); transform-origin: calc(100% - 25px) calc(100% - 20px); }

/* ------------------------------------------------------------ *\
	Section Foot
\* ------------------------------------------------------------ */

.section-foot { margin-bottom: 96px; opacity: 0;}

/* ------------------------------------------------------------ *\
	Section Leather
\* ------------------------------------------------------------ */

.section-leather { min-height: 2750px; margin-bottom: 570px; }
.section-leather .section-head { width: 500px; height: 500px; min-height: 500px; }
.section-leather .section-head:before { top: 0; left: -4px; z-index: 2; width: 100%; height: 100%; background: url(images/leather.jpg) no-repeat 0 0; background-size: 100% 100%; box-shadow: 13px 8px 21px rgba(0,0,0,.47), 0 140px 100px -18px rgba(0,0,0,.7); }
.section-leather .section-head:after { position: absolute; top: 0; left: 0; width: 812px; height: 641px; background: url(images/shadow-small.png) no-repeat 0 0; background-size: 812px 641px; z-index: 1; content: ''; }
.section-leather .section-head .logo { z-index: 3; }
.section-leather .section-body { height: 2160px; }
.section-leather .section-body:before { display: none; }

.section-leather .section-inner { overflow: visible; z-index: 3; height: 2750px; }

.section-leather .section-caption { font-size: 16px; }
.section-leather .section-caption p { margin-bottom: 22px; }

.section-leather .section-overlay { z-index: 2; width: 490px; height: 490px; bottom: 0; /* margin-top: -245px; */ background: none; border-radius: 50%; margin-left: -245px; box-shadow: 49px 28px 62px rgba(0,0,0,.63); }

.section-leather .section-overlay:before { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: url(images/disk.png) no-repeat 0 0; background-size: 490px 490px; content: ''; -webkit-animation: spin 7s linear infinite; animation: spin 7s linear infinite; }

.section-leather .section-player { position: absolute; left: 50%; z-index: 2; width: 1px; height: 90px; margin-top: -15px; }
.section-leather .section-player img { position: absolute; top: 0; left: 0; max-width: none; }
.section-leather .section-player img:nth-child(2) { top: -101px; left: -31px; -webkit-transform-origin: 110px 106px; -ms-transform-origin: 110px 106px; transform-origin: 110px 106px; }

/* ------------------------------------------------------------ *\
	Section Music
\* ------------------------------------------------------------ */

.section-music { margin-bottom: 350px; color: #fff; text-align: center; }
.section-music .section-content { display: inline-block; max-width: 530px; padding: 39px 48px 43px; border: 2px solid #fdfdfd; font-size: 16px; line-height: 1.13; letter-spacing: 0.1em; text-transform: uppercase; }
.section-music .section-content p { opacity: .5; }
.section-music .section-content h5 { margin-bottom: 32px; letter-spacing: 0.2em; }

.section-music .speakers { width: 540px; height: 570px; }

.section-music .speakers:after { position: absolute; top: -100px; bottom: 40px; left: -20px; right: 100px; z-index: 2; background: radial-gradient(ellipse at center,  rgba(20,20,20,0) 0%,rgba(20,20,20,1) 71%,rgba(20,20,20,1) 100%); content: ''; }
.section-music .speakers:before { position: absolute; top: -100px; bottom: 0; z-index: 2; left: calc(100% - 104px); width: 300px; background: #141414; content: ''; }


.section-music .speakers.left:after { left: 100px; right: -20px; }
.section-music .speakers.left:before { left: auto; right: calc(100% - 104px); }

.section-music .speakers.left img { position: absolute; right: 17px; bottom: 60px; }
.section-music .speakers.left img:nth-child(1) { bottom: 75px; right: 180px; }

.section-music .speakers.right img { position: absolute; left: 17px; bottom: 60px; }
.section-music .speakers.right img:nth-child(1) { bottom: 75px; left: 180px; }

/* ------------------------------------------------------------ *\
	Section Venue
\* ------------------------------------------------------------ */

.section-venue { height: 1400px; margin-bottom: 200px; background-position: center top; background-repeat: no-repeat; background-size: 2000px auto; }

.section-venue .section-content { position: absolute; left: 0; right: 0; bottom: 64px; height: 830px; width: 600px; margin: auto; -webkit-transform-origin: 50% 40px; -ms-transform-origin: 50% 40px; transform-origin: 50% 40px; }
.section-venue .section-content:before { position: absolute; top: 22px; left: 50%; width: 476px; height: 828px; margin-left: -284px; background: url(images/drink.png) no-repeat 0 0; background-size: 476px 828px; content: ''; }
.section-venue .section-shadow { position: absolute; top: 10px; left: 50%; width: 401px; height: 912px; margin-left: -207px; background: url(images/drink-shadow.png) no-repeat 0 0; background-size: 401px 912px; content: ''; opacity: 0; }
.section-venue .section-content .article { position: absolute; top: 50%; left: 0; right: 0; width: 230px; margin: auto; color: #fff; font-size: 16px; letter-spacing: 0.1em; text-transform: uppercase; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.section-venue .section-content h5 { margin-bottom: 15px; letter-spacing: 0.2em; }
.section-venue .section-content p { opacity: .75; }

/* ------------------------------------------------------------ *\
	Section Events
\* ------------------------------------------------------------ */

.section-events { margin-bottom: 620px; }
.section-events .section-title { display: inline-block; margin-bottom: 80px; }

/* ------------------------------------------------------------ *\
	Section Map
\* ------------------------------------------------------------ */

.section-map { padding-top: 40px; height: 1236px; overflow: hidden; }
.section-map .section-title { position: relative; z-index: 1; padding: 17px; display: inline-block; min-width: 214px; font-weight: normal; }

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider { position: relative; cursor: -webkit-grab; cursor: grab;  
	-webkit-user-select: none; 
	   -moz-user-select: none; 
	    -ms-user-select: none; 
	     -o-user-select: none; 
	        user-select: none; 
} 
.slider:active { cursor: -webkit-grabbing; cursor: grabbing; }

.slider .slider-clip { position: relative; z-index: 2; }
.slider .slides { position: relative; overflow: hidden; padding: 10px 10px 10px calc(50% - 203px); white-space: nowrap; }

.slider .slide.slide-main { display: inline-block; vertical-align: middle; padding-left: 0; }
.slider .slider-rows { display: inline-block; vertical-align: middle; }

.slider .slider-row { display: table; }
.slider .slider-row ~ .slider-row { margin-top: 34px; }
.slider .slide { display: table-cell; padding-left: 35px;  
	-webkit-pointer-events: none; 
	   -moz-pointer-events: none; 
	    -ms-pointer-events: none; 
	     -o-pointer-events: none; 
	        pointer-events: none; 
} 
.slider .slider-row:first-child .slide { vertical-align: bottom; }
.slider .slider-row:last-child .slide { vertical-align: top; }

.slider .slide-inner { position: relative; left: 0; box-shadow: 6px 6px 15px 7px rgba(0,0,0,.4); transition: left cubic-bezier(0.25, 0.1, 0.25, 1) .6s; }
.slider .slide:nth-child(2) .slide-inner { transition-delay: .02s; }
.slider .slide:nth-child(3) .slide-inner { transition-delay: .03s; }
.slider .slide:nth-child(4) .slide-inner { transition-delay: .04s; }
.slider .slide:nth-child(5) .slide-inner { transition-delay: .05s; }
.slider .slide:nth-child(6) .slide-inner { transition-delay: .06s; }
.slider .slide:nth-child(7) .slide-inner { transition-delay: .07s; }
.slider .slide-frame { position: absolute; top: -3px; bottom: -3px; left: -3px; right: -3px; z-index: 1; }
.slider .slide-frame img { width: 100%; }
.slider .slide-image img { position: relative; display: block; max-width: none; }

.slider-caption { position: absolute; bottom: 55px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
.slider-caption-inner { position: relative; left: 0; transition: left cubic-bezier(0.25, 0.1, 0.25, 1) .6s; transition-delay: .02s; }
.slider-caption .arrow { position: relative; left: 0; transition: left cubic-bezier(0.25, 0.1, 0.25, 1) .6s; transition-delay: .02s; }

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials { position: absolute; top: 21px; right: 68px; }
.socials ul { list-style: none outside none; }
.socials li { float: left; }
.socials li ~ li { padding-left: 19px; border-left: 1px solid #fff; margin-left: 15px; }
.socials a { display: block; font-family: 'Marmelad', sans-serif; font-size: 12px; line-height: 1.25; color: #fff; transition: all .3s; }
.socials a:hover { opacity: .7; }

.socials span { display: inline-block; vertical-align: middle; }
.socials i + span { margin-left: 10px; }

/* ------------------------------------------------------------ *\
	Switch
\* ------------------------------------------------------------ */

.switch { position: absolute; left: 50%; top: 200px; width: 122px; margin-left: -61px; text-align: center; opacity: 0; }
.switch-image { position: relative; height: 120px; border-radius: 7px; margin: 20px 0; cursor: pointer; }
.switch-image img { width: 70%; box-shadow: 15px 2px 27px rgba(0,0,0,.75); }
.switch-image img:last-child { position: absolute; top: 0; left: 0; right: 0; margin: auto; display: none; }

.switch-image.switched img:last-child { display: block; }

.switch-label { font-size: 28px; letter-spacing: 0.02em; color: #fff; opacity: .5; text-transform: uppercase; font-weight: bold; }

.switch-trigger { position: absolute; top: 0; left: 0; height: 500px; width: 100%; }

/* ------------------------------------------------------------ *\
	Loader
\* ------------------------------------------------------------ */

.loader { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 110; background: #000; opacity: 1; visibility: visible; 
	-webkit-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
.loader.hidden { display: block; opacity: 0; visibility: hidden; }
.loading { position: absolute; top: 50%; left: 50%; margin: -11px 0 0 -12px; }
.loading-bar { display: inline-block; width: 4px; height: 18px; border-radius: 4px; background: #fff; -webkit-animation: loading 1s ease-in-out infinite; animation: loading 1s ease-in-out infinite; }
.loading-bar:nth-child(1) { /* background-color: #3498db; */ -webkit-animation-delay: 0; animation-delay: 0; }
.loading-bar:nth-child(2) { /* background-color: #c0392b; */ -webkit-animation-delay: 0.09s; animation-delay: 0.09s; }
.loading-bar:nth-child(3) { /* background-color: #f1c40f; */ -webkit-animation-delay: .18s; animation-delay: .18s; }
.loading-bar:nth-child(4) { /* background-color: #27ae60; */ -webkit-animation-delay: .27s; animation-delay: .27s; }

@keyframes loading {
	0% { -webkit-transform: scale(1); transform: scale(1); }
	20% { -webkit-transform: scale(1, 2.2); transform: scale(1, 2.2); }
	40% { -webkit-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes loading {
	0% { -webkit-transform: scale(1); transform: scale(1); }
	20% { -webkit-transform: scale(1, 2.2); transform: scale(1, 2.2); }
	40% { -webkit-transform: scale(1); transform: scale(1); }
}



::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(158, 101, 99); 
}















